* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6;
}

.tunes {
  background-image: url(../images/banner.jpeg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0 70px;

  color: white;
}

.tunes .far {
  padding: 1.6px;
  display: flex;
  align-items: center;
}

.about-us {
  font-family: "Playfair Display", serif;
  font-size: 96px;
  padding: 30px 100px 10px 10px;
}

.lorem {
  background-color: white;
  color: black;
  font-size: 16;
  line-height: 1.2;
  padding: 40px 40px;
  font-weight: 10px;
  height: 50%;
  background-size: cover;
  margin-bottom: 20px;
}
.some-talk {
  background-image: linear-gradient(to right, #dea1a9, #d78d9c);
  padding: 60px 60px;
}
.he {
  font-size: 30px;
  font-family: "Playfair Display", serif;
  line-height: 1.6;
  color: white;
}

.he::first-letter {
  font-size: 250%;
  line-height: 1.6;
}

.she {
  width: 32%;
  line-height: 1.6;
  color: white;
  padding-top: 20px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 16px;
}

.this-it {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.first-set {
  width: 100%;
  height: 100%;
  display: flex;
}

.second-set {
  display: flex;
  width: 100%;
  height: 100%;
}
.one,
.two,
.three,
.four,
.five,
.six {
  width: 33.33;
}

.page-4 {
  background: linear-gradient(45deg, #d9b1b3, #d9b1b3ad);
  height: 100%;
  width: 100%;
}

.page4-1 {
  position: relative;
  padding: 30px;
}

h1 {
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 72px;
}

.website {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.form-create {
  display: flex;
  flex-direction: row;
}

.know {
  margin: 50px 250px;
  padding: 0px;
  text-align: center;
}

.no-2 {
  padding: 0px 10px;
}

.me,
.me2 {
  border-radius: 20px;
  height: 40px;
  width: 200px;
  border: white;
}

.me3 {
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.page-5 {
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

.article {
  width: 50%;
  padding: 30px 30px 30px 50px;
}

.talk-talk {
  margin-top: 170px;
  font-size: 20px;
  font-family: "Open Sans Condensed", sans-serif;
}

.talk-talk .aria {
  font-family: "Arizonia", cursive;
  font-size: 50px;
  color: #d9b1b3;
}

.general {
  background: linear-gradient(45deg, #d9b1b3, #d9b1b3ad);
  height: 100vh;
  width: 100%;
  padding: 50px;
}

.general h2 {
  text-align: center;
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 72px;
}

input::placeholder {
  padding: 5px;
}

.the-pictures {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}
.very {
  margin: 5px;
}

.contain {
  text-align: center;
  color: white;
  font-size: 54px;
}

.general-2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 60px;
}

.almost {
  width: 30%;
  height: 100%;
  margin-top: 70px;
}

.images-a {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: 100%;
}

.very-2 {
  padding: 10px;
}

.almost h2 {
  line-height: 1.1px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
}

.almost h5 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.almost {
  font-size: 16px;
}

.me6 {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 10px;
  width: 180px;
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

.layout-images {
  width: 45%;
  height: 703px;
  justify-content: flex-start;
  display: flex;
  padding-right: 30px;
}

.layout-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

hr {
  width: 100%;
  top: 20px;
  border: none;
  height: 10px;
  background: #d9b1b3;
  margin-bottom: 30px;
  text-align: center;
}
.subscribe {
  line-height: 1.1;
  width: 200px;
  font-size: 62px;
  padding-left: 170px;
  font-family: "Playfair Display", serif;
}
.form-create {
  padding: 70px 70px 20px 70px;
}

.me7,
.me8 {
  height: 30px;
  width: 250px;
}

.second-class {
  padding-left: 15px;
}

.last-submit {
  text-align: center;
}
.me9 {
  height: 40px;
  width: 120px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.last-text p {
  text-align: center;
  padding: 30px 100px;
  width: 100%;
}

.last-icons {
  text-align: center;
  display: flex;
  width: 100%;
  padding-left: 240px;
}

.twitter,
.facebook,
.instagram {
  text-align: center;
  color: black;
  font-size: 30px;
  padding: 10px;
}
